@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #fff;
}

.app {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.appManage {
padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:80%;
}

.nav{
  width:100%;
  padding:0.8rem
  
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.9px;
 
  background-clip: text;
  -webkit-background-clip: text;
  width:max-content;
  text-align: left;
}

.title {
align-items:flex-start;
width: 50%;
margin-top: 8%;
}

.titleAddHoliday {
  align-items:flex-start;
  width: 50%;
  margin-top: 2%;
  }



.textfield {
  width: 50%;
  margin: 0.5rem 0 0.5rem;
 

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1.75rem;
  border-radius: 0.5rem;
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 0.2rem;
  

}



.textfield input {
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  width: 70%;

  outline: none;
  color: #000;
  background: #fff;
  
}

.labelCode{
  letter-spacing: 2px;
}

.labelDate{
  letter-spacing: 2px;
  margin-right: 20px;
}


.buttons {
  flex-direction: row;
  width: 50%;
 

}

.clear {
  width: 30%;
  border-color: #000;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: white;
  margin-right: 10%;
  cursor: pointer;
  font-size: 16px;
 
}



.submit {
  width: 60%;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.submitBook {
  width: 40%;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 1rem;
  padding: 0.6rem;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.loginBtn {
  width: 50%;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.loginText{
  color: lightskyblue;
  cursor: pointer;

}

.already{
  margin-top: 20px;
}

.textfield img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: -20px;
}

.error {
  color:red
}

.picture {
 
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
} 

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.holiday {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.holiday div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.holiday:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.holiday div:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.holiday div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.holiday div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.holiday div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.holiday div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
  font-size: large;
}

.holiday:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.holiday:hover div:nth-of-type(3) {
  background-color: gray;
}

.holiday:hover div:nth-of-type(1) {
  opacity: 1;
}
.card {
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 90%;
}
.card-title {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}
.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.cardItem{

  padding-left: 0.8%;
  padding-right: 0.8%;
  padding-top: 1.6%;
  border-radius: 10px;
  flex-direction: row;
  display: flex;
  
}

.subtitle{
  font-weight: bold;
  align-items: center;
}

.dates{
  flex-direction:row;
  display: flex;
}
.itemRight{
  float: inline-end;
}
.space{
  width: 20%;
}

.cardDate{
border-width: 0.15rem;
border-style: solid;
padding-left: 2%;
padding-right: 2%;
padding-top: 2%;
border-radius: 1rem;

}
.to{
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;

}
.cardProfile{
  width:80%;
  margin-top:2%;
  position: relative;
  border-radius: 20px;
  border-color: #F2F2F2  ;
  border-style: solid;
  border-width: 2px;
}

.profilePicture{
 
  border-width: 8px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border-style: solid;
  margin-top: -5px;
  position: absolute;
  top: 120px;
  left: 20px;
  z-index: 1;
  border-color: white;
  
}


.backImage{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: inherit;
  background-color: antiquewhite;

}

.inner{
  margin-top: 7%;
  margin-left: 20px;
}



.name{
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.email{
  font-weight: bolder;
  font-size: 16px;
}

.locationDiv{
  flex-direction: row;
  display:flex;
  margin-bottom:10px;
  align-items: center;
  

}
.locationIcon{
  width: 30px;
  height:18px;
  margin-right:10px
}

.location{
  color:gray;
  font-size: 16px;

}

.emailDiv{
  flex-direction: row;
  display:flex;
  margin-bottom:10px;
  align-items: center;

}
.emailIcon{
  width: 30px;
  height:18px;
  margin-right:10px
}

.email{
  color:#000;
  font-size: 15px;
  margin-right: 10px;
}

.messageBtn {
  width: 30%;
  border-color: gray;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: white;
  margin-right: 10%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  
 
}

.shareBtn {
  width: 30%;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: #135EF2;
  margin-right: 10%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  
 
}

.spanShare{
  color:white
}




/*
@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}*/

@media screen and (max-width: 600px) {
  .app {
    
  }

  h1 {
    font-size: 2rem;
  }

  .title {
    align-items:flex-start;
    width: 90%;
    margin-top: 20%;
    }

    .titleAddHoliday {
      align-items:flex-start;
      width: 90%;
      margin-top: 4%;
      }

    .buttons {
      flex-direction: row;
      width: 90%;
     
    
    }

    .loginBtn {
      width: 90%;
      border-width: 0.15rem;
      border-style: solid;
      border-radius: 0.5rem;
      padding: 0.6rem;
      background-color: black;
      color: white;
      cursor: pointer;
      font-size: 16px;
    }
  .textfield {
    width: 90%;
    margin: 0.5rem 0 0.5rem;
   
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 0.5rem 1.75rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    
  
  }

  .container {
    margin-top: 2rem;
  }

  .holiday {
    width: "100%";
    margin: 1rem;
  }

  .cardProfile{
    width:80%;
    margin-top:2%;
    position: relative;
    border-radius: 20px;
    border-color: #F2F2F2;
    border-style: solid;
    border-width: 2px;
  }
  
  .profilePicture{
   
    border-width: 8px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border-style: solid;
    margin-top: -5px;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1;
    border-color: white;
    
  }

  

  .inner{
    margin-top: 10%;
    margin-left: 20px;
  }

  .messageBtn {
    width: 40%;
    border-color: gray;
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 0.6rem;
    background-color: white;
    margin-right: 10%;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    
   
  }
  
  .shareBtn {
    width: 40%;
    border-width: 0.15rem;
    border-radius: 0.5rem;
    padding: 0.6rem;
    background-color: #135EF2;
    margin-right: 10%;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    
   
  }

 
 
}


